* {
    box-sizing: border-box; 
}

body {
    font-size: 18px; 
}

header {
    width: 80%;
    margin: 0 auto; 
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Permanent Marker', cursive;
    font-size: 32px; 
}

h1 {
    text-align: center; 
    padding: 15px; 
}

main {
    width: 80%;
    margin: 0 auto; 
    border: 1px dashed blue; 
}

.colors-section {
    border: 1px solid black; 
    overflow: auto;
    margin: auto;
    width: 640px;
}

.color {
    border: 1px solid black;
    /* float: left; */
    width: 100px;
    height: 100px; 
    cursor: pointer;
    position: relative; 
    border-radius: 15%;
}

.red {
    background-color: red;
    float: left;
}

.blue {
    background-color: blue;
    float: left;
    left: 10px;
}

.yellow {
    background-color: yellow;
    float: right;
}

.green {
    background-color: green; 
    float: right;
    right: 10px;
}

.red::after,
.blue::after,
.yellow::after,
.green::after {
    content: "";
    background-image: url("../images/whirlpool.png");
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    border-radius: 15%;
  }

.metrics {
    border: 1px solid black;
    clear: both; 
}

/* font-family: 'Anton', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Concert One', cursive; */