* {
    box-sizing: border-box; 
}

body {
    font-size: 18px; 
    font-family: 'Concert One', cursive;
}

header {
    width: 640px;
    margin: 0 auto; 
    font-family: 'Permanent Marker', cursive;
    font-size: 32px; 
}

section {
    text-align: center; 
}

h1 {
    text-align: center; 
    padding: 10px; 
}

h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 24px; 
}


main {
    width: 640px;
    margin: 0 auto; 
}

.colors-section {
    overflow: auto;
    margin: auto;
    padding-top: 10px; 
}

.color {
    width: 100px;
    height: 100px; 
    cursor: pointer;
    position: relative; 
}

.red {
    background-color: red;
    float: left;
    border-radius: 15%;
    border: 1px solid black;
}

.blue {
    background-color: blue;
    float: left;
    border-radius: 15%;
    left: 10px;
    border: 1px solid black;
}

.yellow {
    background-color: yellow;
    float: right;
    border-radius: 15%;
    border: 1px solid black;
}

.green {
    background-color: green; 
    float: right;
    right: 10px;
    border-radius: 15%;
    border: 1px solid black;
}

.red::after,
.blue::after,
.yellow::after,
.green::after {
    content: "";
    background-image: url("../images/whirlpool.png");
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    border-radius: 15%;
  }

.metrics {
    display: inline-block; 
    position: relative;
    left: 45px;
    text-align: center; 
    font-family: 'Concert One', cursive;
}

.win-loss {
    display: inline-block; 
}

span {
    font-size: 22px; 
}