* {
    box-sizing: border-box; 
}

body {
    font-size: 18px; 
}

header {
    width: 80%;
    margin: 0 auto; 
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Permanent Marker', cursive;
    font-size: 32px; 
}

h1 {
    text-align: center; 
    padding: 15px; 
}

main {
    width: 80%;
    margin: 0 auto; 
    border: 1px dashed blue; 
}

.color {
    border: 1px solid black;
    float: left;
    width: 75px;
    height: 75px; 
    cursor: pointer;
    /* margin: 0 10px 0 0;  */
}

.red {
    background-color: red;
}

.blue {
    background-color: blue; 
}

.yellow {
    background-color: yellow;
    float:right;
}

.green {
    background-color: green; 
    float: right; 
}

.colors-section {
    border: 1px solid black; 
    overflow: auto;
    margin: auto;
    width: 50%;

}

.metrics {
    clear: both; 
}

/* font-family: 'Anton', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Concert One', cursive; */